*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
    height:20%;
    width:100%;
}
.top{
    height: 15%;
    width: 100%;
    border-bottom: 1px solid rgb(216, 212, 212);
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: space-between;

}
.logo{
    padding: 1.2rem;
    border-right: 1px solid rgb(216, 212, 212);
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{ 
    height: 4.2rem;
    
    border-radius: 50%;

}
.del{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.seacrh i{
    height: 100px;
}
.search input{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5em;
    width: 50rem;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    background-color: rgb(191, 191, 191);
}



.login a{
     display: flex;
    align-items: center;
    justify-content: center;
     height: 3.4rem;
    width:6rem;
    font-size: larger;
    color: rgb(159, 152, 152);
    text-decoration: none;
    
   
}
.login a:hover{
    cursor: pointer;
    color:rgb(204, 242, 229);
    
}

.mycart{
    margin-right: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 5.8rem;
    background-color: rgb(191, 191, 191);
    padding: auto;
    border: none;
    border-radius: 10px;
}
.mycart a{
     color: white;
     text-decoration: none;
}
.mycart:hover{
    cursor: pointer;
    
}

.maincontainer{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid{
    

    height: 100%;
    width: 82%;
    display: grid;
    grid-template-rows: repeat(4,1fr);
    grid-template-columns: repeat(10,1fr);
    justify-self: center;
}

.item1{
     height:234.862px;
    width: 1280px;
    grid-column-start:1 ;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 2;
}
.item img{
    height:188.235px;
    width: 128px;
}